#map {
  height: 100vw; 
  width: 100%;
  max-width: min(700px,100vw);
  max-height: 700px;
  margin:auto
}
input[type=range]{
  max-width:  min(700px,100vw);
  margin:auto
}
.map{
  text-align: center;
  padding:2em
}
.map p {
  font-size: 1em
}
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.about * {
  text-align: center;
}

.about {
  padding: 10em;
}

button {
  margin-top: 1em;
  font-size: 1.4em;
}
#start {
  margin-top: 2em;
}

#start {
  margin-top: 2em;
  font-size: 1.4em;
}

#page {
  text-align: center;
}

.authors {
  position: fixed;
  bottom:0;
  width: 100%;
  left:0
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}