#map {
  height: 100vw;
  width: 100%;
  max-width: min(700px, 100vw);
  max-height: 700px;
  margin: auto;
}

input[type=range] {
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.map, .timelapse, .dates {
  margin-top: 5em
}

.map {
  text-align: center;
  padding: 2em;
}

.map p {
  font-size: 1em
}

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.about * {
  text-align: center;
}

.about {
  padding: 10em;
  margin-top: 30vh
}

.dates {
  margin-top: 10em;
}

button {
  margin-top: 1em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
}

button:hover {
  background-color: grey;
  transition: background-color 1s
}

#start {
  display: block;
  margin:auto;
  margin-top: 2em;
  font-size: 1.4em;
  padding: 1em 3em 1em 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

#page {
  text-align: center;
}

#page>div {
  padding: min(1em, 5px)
}

.authors {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover:not(div a) {
  color: inherit;
  text-decoration: underline;
}

.loading {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dates>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3em;
  padding: 3em 0 3em 0;
}

.dates>div>div {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.dates input {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333
  }

  * {
    color: white
  }

  button {
    background: black
  }
}

.github {
  text-align: right;
  position: fixed;
  width: 100%;
  right: 1em;
  top: 1em
}

.googleearth-engine {
  text-align: center;
  margin-top: 5em;
}

.googleearth-engine small {
  display: inline-table;
  width: 100%
}

.googleearth-engine img {

  height: 50px
}

.googleearth-engine img.icon {

  height: 40px;
  margin-bottom: 10px
}

#coordinates {
  display: block;
  margin-top: 1em;
}